@use "../../styles/variables" as *;

.input {
  width: 80px;
  border: 1px solid rgba($color-text, 0.08);
  border-radius: 20px;
  padding: 8px;
  line-height: 18px;

  :focus {
    outline: none;
  }
}

.label {
  margin-left: 4px;
  color: rgba($color-text, 0.75);
}