@use "../../styles/variables" as *;

.button {
  border: 1px solid rgba($color-text, 0.08);
  border-radius: 20px;
  padding: 0.4rem 0.9rem;
  color: rgba($color-text, 0.75);
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  background: rgba($color-bg, 0.55);
  backdrop-filter: blur(12px);
  border: 1px solid rgba($color-text, 0.08);

  line-height: 18px;

  &:hover {
    background: rgba($color-bg, 0.75);
    color: rgba($color-text, 0.9);
    box-shadow:
      0 6px 24px rgba(0, 0, 0, 0.05),
      inset 0 0 14px rgba(255, 255, 255, 0.15);
  }
}