@use "../../styles/variables" as *;

.timeDisplay {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: rgba($color-text, 0.9);
  text-shadow: 0 0 8px rgba($color-text, 0.15);
  letter-spacing: 1px;
  user-select: none;
}

@media (max-width: 600px) {
  .clockContainer {
    width: 300px;
    height: 300px;
  }
  .timeDisplay {
    font-size: 1.8rem;
  }
}
