@use "./variables" as *;

@use "./fonts" as *;
@use "./normalize" as *;

:root {
  --transition: #{$transition-fast}; // Правильно!
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  color: $color-text;
  font-family: $font-main;
}

body {
  font-family: $font-main;
  background:
    linear-gradient(135deg, #f4f6f8 0%, #e9ecf2 40%, #dfe3ea 100%),
    radial-gradient(
      circle at 70% 30%,
      rgba(255, 255, 255, 0.6),
      transparent 70%
    ),
    radial-gradient(
      circle at 20% 80%,
      rgba(200, 210, 255, 0.3),
      transparent 80%
    );
  background-blend-mode: overlay;
  color: $color-text;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease, color 0.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

