@use "./variables" as *;

@use "./fonts" as *;
@use "./normalize" as *;

:root {
  --transition: #{$transition-fast}; // Правильно!
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-main;
}

body {
  font-family: $font-main;
  background: linear-gradient(135deg, #f1f3f6 0%, #e4e7ec 100%);
  color: #222;
  color: $color-text;
  margin: 0;
  padding: 0;
  transition: background-color $transition-fast, color $transition-fast;
}

a {
  color: inherit;
  text-decoration: none;
}

