@use "../../styles/variables" as *;

.stopwatch {
  position: relative;
}

.controlsAndList {
  position: absolute;
  top: calc(100% + 20px);
  left: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.controls {
  display: flex;
  gap: 10px;
}

.list {
  list-style: none;
  max-height: 95px;
  overflow-y: auto;
  padding: 0 10px 0 10px;

  .el {
    display: flex;
    gap: 4px;
    justify-content: space-between;

    .elNumber {
      text-align: right;
    }
  }
}