@use "../../styles/variables" as *;

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.carouselControls {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;

  button {
    background: var(--accent);
    color: white;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}