@use "../../styles/variables" as *;

.featureContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.featureContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}